name: Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted   

    steps:
      #  Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Build Docker image
      - name: Build Docker images
        run:  docker build -t teamtestvail .

      #  stop container 
      - name: stop container
        run: ./stop-docker.sh || true

      #  remove container 
      - name: remove container
        run: ./rm-docker.sh || true

      #  Start container 
      - name: start container
        run: ./run-docker.sh
